<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Banco de Dados</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg position-fixed">
      <a class="navbar-brand" href="/home">Página Inicial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <br>
  <h2 id="tituloAbout">Membros da Equipe </h2>
  <hr>
  <br> <br> <br> <br>
  <div id="boxes">
  <div class="divMembros">
    <img id="membrosImg" src="img/kauanFoto.jpg" alt="">
   <span class="descricaoMembross">Kauan Sano</span>
    <span class="descricaoMembros">RA: 2417642</span>
  </div>
  <div class="divMembros">
    <img id="membrosImg" src="img/graziele.jpg" alt="">
    <span class="descricaoMembross">Graziele Miranda</span>
    <span class="descricaoMembros">RA: 2417600</span>
  </div>
  <div class="divMembros">
    <img id="membrosImg" src="img/graziele.jpg" alt="">
    <span class="descricaoMembross">Guilherme Alves</span>
    <span class="descricaoMembros">RA: 2417618</span>
  </div>
</div>
    
  <footer>
    <p>&copy; 2023. Todos os direitos reservados.</p>
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>