<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/quiz2.js"></script>
    <title>Aula 2 - Comandos básicos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
</head>
<br><br><br><br><br><br><br>
<body>
  <header>
    <nav class="navbar navbar-expand-lg position-fixed">
    <img class="logo" src="img/logo.png"  alt="logo">
      <p class="info">Aprendendo Banco de Dados </p>
      <a class="navbar-brand" href="/home">Página Inicial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          
            <a class="navbar-brand" href="/aulas">Aulas</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/about">Sobre</a>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <h1>Introdução a MER</h1>


  <div class="question">
    <p>1.No contexto do Modelo Entidade-Relacionamento (MER), o que representa uma entidade?</p>
    <input type="radio" name="q1" value="a"> a) Uma propriedade ou característica de um objeto.<br>
    <input type="radio" name="q1" value="b"> b) Um relacionamento entre duas entidades.<br>
    <input type="radio" name="q1" value="c"> c) Um conjunto de objetos semelhantes.<br>
    <input type="radio" name="q1" value="d"> d) Um objeto ou conceito do mundo real.<br>
  </div>
  
  <div class="question">
    <p>2. Qual dos seguintes símbolos é usado para representar um relacionamento no diagrama do MER?</p>
    <input type="radio" name="q2" value="a"> a) Círculo<br>
    <input type="radio" name="q2" value="b"> b) Retângulo<br>
    <input type="radio" name="q2" value="c"> c) Losango<br>
    <input type="radio" name="q2" value="d"> d) Triângulo<br>
  </div>

  <div class="question">
    <p>3. No MER, o que é um atributo?</p>
    <input type="radio" name="q3" value="a"> a) Uma tabela que armazena dados.<br>
    <input type="radio" name="q3" value="b"> b) Um conjunto de entidades relacionadas.<br>
    <input type="radio" name="q3" value="c"> c) Uma descrição de uma relação entre entidades.<br>
    <input type="radio" name="q3" value="d"> d) Uma propriedade ou característica de uma entidade.ATE<br>
  </div>

  <div class="question">
    <p>4. O que representa uma cardinalidade no diagrama do MER?</p>
    <input type="radio" name="q4" value="a"> a) O número total de entidades em um relacionamento.<br>
    <input type="radio" name="q4" value="b"> b) O tipo de dados usado para um atributo.<br>
    <input type="radio" name="q4" value="c"> c) O número máximo e mínimo de ocorrências de uma entidade em um relacionamento.<br>
    <input type="radio" name="q4" value="d"> d) O nome dado a uma tabela no banco de dados.<br>
  </div>

  <div class="question">
    <p>5. Qual dos seguintes representa um relacionamento "muitos para muitos" no diagrama do MER?</p>
    <input type="radio" name="q5" value="a"> a) Linha contínua.<br>
    <input type="radio" name="q5" value="b"> b) Linha tracejada.<br>
    <input type="radio" name="q5" value="c"> c) Linha com seta.<br>
    <input type="radio" name="q5" value="d"> d) Linha dupla.<br>
  </div>

  <div class="question">
    <p>6. No MER, o que é um atributo composto?</p>
    <input type="radio" name="q6" value="a"> a) Um atributo que contém valores de outros atributos.<br>
    <input type="radio" name="q6" value="b"> b) Um atributo que armazena valores nulos.<br>
    <input type="radio" name="q6" value="c"> c) Um atributo que não pode ser dividido em partes menores.<br>
    <input type="radio" name="q6" value="d"> d) Um atributo que representa a chave primária de uma entidade.<br>
  </div>

  <div class="question">
    <p>7. Qual dos seguintes é um exemplo de restrição de integridade no MER?</p>
    <input type="radio" name="q7" value="a"> a) Um atributo que não pode conter valores duplicados.<br>
    <input type="radio" name="q7" value="b"> b) Um relacionamento entre duas entidades.<br>
    <input type="radio" name="q7" value="c"> c) Um atributo que não pode ser nulo.<br>
    <input type="radio" name="q7" value="d"> d) Uma entidade que não pode ter mais de uma ocorrência.<br>
  </div>

  <div class="question">
    <p>8. O que é um modelo de entidade fraca no MER?</p>
    <input type="radio" name="q8" value="a"> a) Um modelo que não possui relacionamentos com outras entidades.<br>
    <input type="radio" name="q8" value="b"> b) Um modelo em que todas as entidades possuem atributos compostos.<br>
    <input type="radio" name="q8" value="c"> c) Um modelo em que as entidades não têm identificador único.<br>
    <input type="radio" name="q8" value="d"> d) Um modelo em que as entidades dependem de outra entidade para existir.<br>
  </div>

  <div class="question">
    <p>9. Qual é o objetivo do diagrama do MER?</p>
    <input type="radio" name="q9" value="a"> a) Representar a estrutura física do banco de dados.<br>
    <input type="radio" name="q9" value="b"> b) Definir as consultas SQL a serem executadas no banco de dados.<br>
    <input type="radio" name="q9" value="c"> c) Ilustrar as relações entre as entidades de um sistema.<br>
    <input type="radio" name="q9" value="d"> d) Armazenar os registros de dados no banco de dados.<br>
  </div>

  <div class="question">
    <p>10. O que é a generalização/especialização no contexto do MER?</p>
    <input type="radio" name="q10" value="a"> a) Um processo de agrupar entidades semelhantes em categorias mais gerais.<br>
    <input type="radio" name="q10" value="b"> b) Um relacionamento entre entidades com base em seus atributos compartilhados.<br>
    <input type="radio" name="q10" value="c"> c) Uma técnica para criar um atributo composto a partir de outros atributos.<br>
    <input type="radio" name="q10" value="d"> d) Um método para atribuir cardinalidades aos relacionamentos entre entidades.<br>
  </div>


    <button class="btn-submit" onclick="checkAnswers()">Enviar Respostas</button>

  <div id="result" class="result-message"></div>
  
  <footer class="mt-4">
    <div class="container">
    <br>
      <p>&copy; 2023. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
