<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/quiz.js"></script>
    <title>Aula 1 - Introdução a banco de dados</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
</head>
<br><br><br><br><br><br><br>
<body>
  <header>
    <nav class="navbar navbar-expand-lg position-fixed">
    <img class="logo" src="img/logo.png"  alt="logo">
      <p class="info">Aprendendo Banco de Dados </p>
      <a class="navbar-brand" href="/home">Página Inicial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          
            <a class="navbar-brand" href="/aulas">Aulas</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/about">Sobre</a>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <h1>Introdução a banco de dados</h1>


  <div class="question">
    <p>1. Qual das seguintes opções define corretamente um banco de dados?</p>
    <input type="radio" name="q1" value="a"> a) Uma coleção de tabelas em formato de planilha<br>
    <input type="radio" name="q1" value="b"> b) Um software para criar e gerenciar apresentações de slides.<br>
    <input type="radio" name="q1" value="c"> c) Um sistema que permite armazenar, gerenciar e organizar dados de forma organizada.<br>
    <input type="radio" name="q1" value="d"> d) Uma lista de contatos armazenada em um smartphone.<br>
  </div>
  
  <div class="question">
    <p>2. Quais são as principais aplicações de um banco de dados?</p>
    <input type="radio" name="q2" value="a"> a) Cálculos matemáticos complexos.<br>
    <input type="radio" name="q2" value="b"> b) Manipulação de imagens e vídeos.<br>
    <input type="radio" name="q2" value="c"> c) Armazenamento e recuperação eficiente de dados.<br>
    <input type="radio" name="q2" value="d"> d) Execução de tarefas de processamento de texto.<br>
  </div>

  <div class="question">
    <p>3. Qual das opções abaixo não é um exemplo de SGBD?</p>
    <input type="radio" name="q3" value="a"> a) DataMaster SQL<br>
    <input type="radio" name="q3" value="b"> b) POSTGRESQL<br>
    <input type="radio" name="q3" value="c"> c) MYSQL<br>
    <input type="radio" name="q3" value="d"> d) SQL Server<br>
  </div>

  <div class="question">
    <p>4. Qual tipo de modelos de dados o POSTGRESQL utiliza?</p>
    <input type="radio" name="q4" value="a"> a) Abordagem hierárquica.<br>
    <input type="radio" name="q4" value="b"> b) Abordagem em rede.<br>
    <input type="radio" name="q4" value="c"> c) Abordagem relacional.<br>
    <input type="radio" name="q4" value="d"> d) Abordagem orientada a objetos.<br>
  </div>

  <div class="question">
    <p>5. Qual das opções abaixo não é um comando de banco de dados relacional?</p>
    <input type="radio" name="q5" value="a"> a) Criação de banco de dados e estrutura da tabela.<br>
    <input type="radio" name="q5" value="b"> b) Manipulação dos dados para extrair informações.<br>
    <input type="radio" name="q5" value="c"> c) Administração de dados.<br>
    <input type="radio" name="q5" value="d"> d) Duplicação de tabelas.<br>
  </div>

  <div class="question">
    <p>6. Qual a necessidade da modelagem de um Banco de dados?</p>
    <input type="radio" name="q6" value="a"> a) É necessária para organizar os dados e garantir sua integridade<br>
    <input type="radio" name="q6" value="b"> b) É necessária para facilitar o acesso a dados<br>
    <input type="radio" name="q6" value="c"> c) Necessário para dificultar o desenvolvimento de aplicações<br>
    <input type="radio" name="q6" value="d"> d) Para permitir que os dados sejam privados<br>
  </div>

  <div class="question">
    <p>7. O que o comando CREATE faz?</p>
    <input type="radio" name="q7" value="a"> a) O comando CREATE cria uma tabela e especifica os dados e os tipos de dados presentes nela.<br>
    <input type="radio" name="q7" value="b"> b) O comando CREATE altera os dados de uma tabela.<br>
    <input type="radio" name="q7" value="c"> c) O comando CREATE exclui os dados de uma tabela.<br>
    <input type="radio" name="q7" value="d"> d) O comando CREATE insere dados em uma tabela.<br>
  </div>

  <div class="question">
    <p>8. O que o comando INSERT faz?</p>
    <input type="radio" name="q8" value="a"> a) Exclui dados ta tabela.<br>
    <input type="radio" name="q8" value="b"> b) Insere dados na tabela.<br>
    <input type="radio" name="q8" value="c"> c) Altera dados da tabela.<br>
    <input type="radio" name="q8" value="d"> d) Exclui toda a tabela.<br>
  </div>

  <div class="question">
    <p>9. Qual dos comandos abaixo retorna os dados de uma tabela?</p>
    <input type="radio" name="q9" value="a"> a) SELECT * FROM Alunos.<br>
    <input type="radio" name="q9" value="b"> b) SELECT * FROM.<br>
    <input type="radio" name="q9" value="c"> c) SELECT Alunos.<br>
    <input type="radio" name="q9" value="d"> d) FROM Alunos SELECT *.<br>
  </div>

  <div class="question">
    <p>10. O que significa SQL?</p>
    <input type="radio" name="q10" value="a"> a) System Query Language.<br>
    <input type="radio" name="q10" value="b"> b) Standard Query Language.<br>
    <input type="radio" name="q10" value="c"> c) Server Query Language.<br>
    <input type="radio" name="q10" value="d"> d) Structured Query Language.<br>
  </div>


    <button class="btn-submit" onclick="checkAnswers()">Enviar Respostas</button>

  <div id="result" class="result-message"></div>
  
  <footer class="mt-4">
    <div class="container">
    <br>
      <p>&copy; 2023. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
