<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/quiz.js"></script>
    <title>Aula 1 - Introdução a banco de dados</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
</head>
<br><br><br><br><br><br><br>
<body>
  <header>
    <nav class="navbar navbar-expand-lg position-fixed">
    <img class="logo" src="img/logo.png"  alt="logo">
      <p class="info">Aprendendo Banco de Dados </p>
      <a class="navbar-brand" href="/home">Página Inicial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          
            <a class="navbar-brand" href="/aulas">Aulas</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/about">Sobre</a>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <h1>Introdução a banco de dados</h1>


  <div class="question">
    <p>1. Qual é a necessidade da modelagem de um banco de dados?</p>
    <input type="radio" name="q1" value="a"> a) Aumentar a velocidade de acesso aos dados.<br>
    <input type="radio" name="q1" value="b"> b) Armazenar os dados em um único local.<br>
    <input type="radio" name="q1" value="c"> c) Organizar e estruturar os dados de forma coerente.<br>
    <input type="radio" name="q1" value="d"> d) Fornecer segurança avançada para os dados.<br>
  </div>
  
  <div class="question">
    <p>2. Quais são as principais aplicações de um banco de dados?</p>
    <input type="radio" name="q2" value="a"> a) Cálculos matemáticos complexos.<br>
    <input type="radio" name="q2" value="b"> b) Manipulação de imagens e vídeos.<br>
    <input type="radio" name="q2" value="c"> c) Armazenamento e recuperação eficiente de dados.<br>
    <input type="radio" name="q2" value="d"> d) Execução de tarefas de processamento de texto.<br>
  </div>

  <div class="question">
    <p>3. Explique a diferença entre banco de dados relacional e banco de dados não-relacional.</p>
    <input type="radio" name="q3" value="a"> a) O banco de dados relacional usa tabelas para armazenar dados, enquanto o não-relacional usa documentos.<br>
    <input type="radio" name="q3" value="b"> b) O banco de dados relacional é mais seguro do que o não-relacional.<br>
    <input type="radio" name="q3" value="c"> c) O banco de dados relacional é mais escalável do que o não-relacional.<br>
    <input type="radio" name="q3" value="d"> d) O banco de dados não-relacional suporta melhor a consulta de dados complexos.<br>
  </div>

  <div class="question">
    <p>4. Quais são os principais tipos de modelagem de banco de dados?</p>
    <input type="radio" name="q4" value="a"> a) Modelagem hierárquica, modelagem de rede e modelagem relacional.<br>
    <input type="radio" name="q4" value="b"> b) Modelagem física, modelagem lógica e modelagem conceitual.<br>
    <input type="radio" name="q4" value="c"> c) Modelagem de entidade-relacionamento (ER), modelagem dimensional e modelagem de fluxo de dados.<br>
    <input type="radio" name="q4" value="d"> d) Modelagem de dados, modelagem de processos e modelagem de objetos.<br>
  </div>

  <div class="question">
    <p>5. Quais são as vantagens da modelagem entidade-relacionamento (ER)?</p>
    <input type="radio" name="q5" value="a"> a) Representação visual dos relacionamentos entre entidades.<br>
    <input type="radio" name="q5" value="b"> b) Fácil implementação do modelo em um banco de dados relacional.<br>
    <input type="radio" name="q5" value="c"> c) Redução da redundância de dados.<br>
    <input type="radio" name="q5" value="d"> d) Todas as opções anteriores.<br>
  </div>

  <div class="question">
    <p>6. Cite exemplos de entidades e relacionamentos em um modelo entidade-relacionamento.</p>
    <input type="radio" name="q6" value="a"> a) Produto, cliente e compra.<br>
    <input type="radio" name="q6" value="b"> b) Tabela, campo e registro.<br>
    <input type="radio" name="q6" value="c"> c) SQL, Oracle e MySQL.<br>
    <input type="radio" name="q6" value="d"> d) Chave primária, chave estrangeira e índice.<br>
  </div>

  <div class="question">
    <p>7. Explique o conceito de chave primária em um banco de dados relacional.</p>
    <input type="radio" name="q7" value="a"> a) Uma chave única que identifica exclusivamente um registro em uma tabela.<br>
    <input type="radio" name="q7" value="b"> b) Um campo que armazena valores numéricos e permite cálculos matemáticos.<br>
    <input type="radio" name="q7" value="c"> c) Um índice que acelera a consulta de dados.<br>
    <input type="radio" name="q7" value="d"> d) Uma restrição que garante a integridade dos dados em uma tabela.<br>
  </div>

  <div class="question">
    <p>8. Quais são os principais tipos de bancos de dados?</p>
    <input type="radio" name="q8" value="a"> a) MySQL, Oracle e SQL Server.<br>
    <input type="radio" name="q8" value="b"> b) Relacional, não-relacional e orientado a objetos.<br>
    <input type="radio" name="q8" value="c"> c) Hierárquico, de rede e de documentos.<br>
    <input type="radio" name="q8" value="d"> d) Armazenamento em nuvem, local e em memória.<br>
  </div>

  <div class="question">
    <p>9. Qual é a diferença entre banco de dados transacional e banco de dados analítico?</p>
    <input type="radio" name="q9" value="a"> a) O banco de dados transacional é voltado para operações diárias, enquanto o analítico é voltado para análises complexas.<br>
    <input type="radio" name="q9" value="b"> b) O banco de dados transacional armazena dados em tabelas, enquanto o analítico armazena dados em documentos.<br>
    <input type="radio" name="q9" value="c"> c) O banco de dados transacional é mais rápido em consultas complexas do que o analítico.<br>
    <input type="radio" name="q9" value="d"> d) O banco de dados analítico fornece recursos avançados de segurança em comparação com o transacional.<br>
  </div>

  <div class="question">
    <p>10. Quais são os fatores a serem considerados ao escolher um tipo de banco de dados para uma determinada aplicação?</p>
    <input type="radio" name="q10" value="a"> a) Escalabilidade, desempenho e requisitos de segurança.<br>
    <input type="radio" name="q10" value="b"> b) Interface de usuário, custo de licenciamento e suporte técnico.<br>
    <input type="radio" name="q10" value="c"> c) Recursos de backup, facilidade de instalação e requisitos de memória.<br>
    <input type="radio" name="q10" value="d"> d) Linguagem de programação, velocidade de processamento e espaço em disco.<br>
  </div>


    <button class="btn-submit" onclick="checkAnswers()">Enviar Respostas</button>

  <div id="result" class="result-message"></div>
  
  <footer class="mt-4">
    <div class="container">
    <br>
      <p>&copy; 2023. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
