<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
    <title>Banco de Dados</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg position-fixed">
    <img class="logo" src="img/logo.png"  alt="logo">
      <p class="info">Aprendendo Banco de Dados </p>
      <a class="navbar-brand" href="/home">Página Inicial</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
          
            <a class="navbar-brand" href="/aulas">Aulas</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/about">Sobre</a>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <br><br><br><br><br><br>
  <div class="container">
    <h2 class="mt-4">Banco de Dados <b>(BD)</b></h2>
    <p class="mt-4">Um sistema organizado de informações estruturadas que podem ser armazenadas,
      gerenciadas e acessadas de forma eficiente.</p>
    <p>Ele serve como um repositório centralizado para armazenar e recuperar dados,
      permitindo a realização de consultas, atualizações e análises.</p>

    <!-- Slideshow container -->
    <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/bd1.jpeg" class="d-block w-100" alt="Imagem 1">
        </div>
        <div class="carousel-item">
          <img src="img/bd2.jpeg" class="d-block w-100" alt="Imagem 2">
        </div>
        <div class="carousel-item">
          <img src="img/bd3.jpeg" class="d-block w-100" alt="Imagem 3">
        </div>
        <div class="carousel-item">
          <img src="img/bd4.jpeg" class="d-block w-100" alt="Imagem 4">
        </div>
        <div class="carousel-item">
          <img src="img/bd5.jpeg" class="d-block w-100" alt="Imagem 5">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>

  <footer class="mt-4">
    <div class="container">
    <br>
      <p>&copy; 2023. Todos os direitos reservados.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
